* {
    box-sizing: border-box;
}

// Example
:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}
